*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    
}
body{
    background: rgb(5, 192, 36);
}



.container {

    margin-top: 15em;
    display: flex;
    margin-left: 25%;
    height: 10vh;


}

.search-bar {
    width: 30%;
    height: 30%;
    max-width: 400px;
    background: #fff;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);


}

.search-bar input {
    background: #fff;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 15px;
    color: #000;
}

::placeholder {
    color: #000;
}

.search-bar button img {
    width: 20px;
}

.search-bar button {
    background: red;
    border: 0;
    border-radius: 55%;
    width: 40px;
    height: 30px;
    cursor: pointer;

}
.milk a{
    align-items: center;
    color: #000;

}